llmapicn.withcortex.ai {
	encode zstd gzip

	reverse_proxy https://llmapi.withcortex.ai {
		header_up Host llmapi.withcortex.ai
		health_uri /api/status
		health_interval 30s
		health_timeout 10s

		transport http {
			tls_server_name llmapi.withcortex.ai
		}
	}
}
